@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Get Task</h1>
    <p align="center" class="lead">Get Task is a system for tracking Tasks and Users assignments is administered by the Administrator</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Users</h2>
        <p>
            A list of users showing their responsibilities and the projects they are working on, and what roles they have
        </p>
    </div>
    <div class="col-md-4">
        <h2>Projets</h2>
        <p>Project monitoring, adding new projects. The administrator has full access to the projects and all their parts</p>
    </div>
    <div class="col-md-4">
        <h2>Tasks</h2>
        <p>Projects consist of tasks. Tasks are assigned to users with specific roles</p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-4">
        <img src="~/Images/admin-images-png-3.png" />
        <h3>Admin</h3>
        <p>
            Administrator can view, create, modify and delete Projects, Tasks and Users.
            An Administrator provides office and administrative support to either a team or individual. 
            This role is vital for the smooth-running of a business.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/admin-png-images-7.png" />
        <h3>Manager</h3>
        <p>
            Project Managers can create Projects, Tasks and assign Tasks to the Developers.
            The manager is an employee who is responsible for planning, directing and overseeing the operations and fiscal health of a business unit, division, department, or an operating unit within an organization.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/images.png"   />
        <h3>Developer</h3>
        <p>
            User with Developer role is allowed to change: status, progress, description
            Researching, designing, implementing and managing software programs. Testing and evaluating new programs.
            Writing and implementing efficient code.
        </p>
    </div>
</div>